html {
  background-color: #e6ebf2;
  box-sizing: border-box;
  font-family: Kelson, Helvetica, Arial;
  color: black;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 25px;
  margin-bottom: 0;
}

h4 {
  font-size: 15px;
}

*, *::before, *::after {
  box-sizing: inherit;
  color: inherit;
  font: inherit;
}

input {
  padding-left: 10px;
  transition: outline .8s;
}

select {
  padding-left: 10px;
}