$mainFont: Kelson;
$basicBlue: #3d8af7;
$darkerBlue: #0563E5;
$basicRed: #ff5d55;
$darkerRed: #BF1A11;
$basicGreen: #43af43;
$darkerGreen: #107910;
$lighterYellow: #FFC957
$basicYellow: #EAAE30;

html {
  background-color: #e6ebf2;
  box-sizing: border-box;
  font-family: $mainFont, Helvetica, Arial;
  color: black;

  @if $mainFont == Kelson {
    letter-spacing: 1px;
  } @else {
    letter-spacing: normal;
  }
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 25px;
  margin-bottom: 0;
}

h4 {
  font-size: 15px;
}

*, *::before, *::after {
  box-sizing: inherit;
  color: inherit;
  font: inherit;
}

input {
  padding-left: 10px;
  transition: outline .8s;
}

select {
  padding-left: 10px;
}