#hero-section{
  background: radial-gradient(rgba(0,0,0,0.05), rgba(0,0,0,0.45)), url(../images/phxfamily2.png);
  height: 650px;
  background-size: cover;
  position: relative;

  > div {
    width: 960px;
    margin: 0 auto;
    text-align: center;

    #search-form {
      width: 750px;
      height: 250px;
      background-color: rgba(234, 174, 48, 0.85);
      display: inline-block;
      position: relative;
      top: 200px;
      box-shadow: 0 0 12px -5px #000;
      vertical-align: bottom;

      h1 {
        color: white;
        margin: 35px 0 0 0;
        font-size: 35px;
      }

      > form {
        font-size: 25px;
        margin-top: 25px;
        font-family: 'Open Sans', Arial;

        input {
          margin-left: 15px;
          height: 50px;
          border: none;
          box-shadow: 0 0 12px -5px #000;
        }

        select {
          -webkit-appearance: none;
          height: 50px;
          border: none;
          box-shadow: 0 0 12px -5px #000;
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
          color: #a9a9a9;
        }

        button {
          width: 50px;
          height: 50px;
          background-color: $basicGreen;
          border: none;
          border-top-right-radius: 5px;
          border-bottom-right-radius: 5px;
          color: white;
          box-shadow: 0 0 12px -5px #000;
          border-top: transparent solid 1px;
          transition: background-color .4s;

          &:hover {
            background-color: $darkerGreen;
            transition: background-color .4s;
          }
        }
      }

      .search-form-subtext {
        margin-top: 5px;
        color: white;
        font-size: 20px;

        a {
          color: #CAF0CA;
          transition: color .4s;

          &:hover {
            transition: color .4s;
            color: #A0E0A0;
          }
        }
      }

      p:last-child {
          padding-top: 15px;
        }
    }
  }
}

#info-section {
  position: relative;
  color: #7D7D7D;

  > div {
      width: 960px;
      margin: 0 auto;
      text-align: center;
  }

  #primary-info {
    text-align: center;

    #search-info, #profile-info {
      width: 425px;
      display: inline-block;
      vertical-align: top;
    }

    #search-info {
      margin-right: 50px;
    }

    #profile-info {
      margin-left: 50px;
    }

    h4 {
      margin: 0;
      font-size: 22px;
    }

    p {
      text-align: left;
      font-size: 20px;
      margin-top: 3px;
    }
    
    .info {
      font-size: 50px;
      float: left;
      height: 175px;

      &.search-icon {
        color: $basicBlue;
        padding-right: 10px;
      }

      &.profile-icon {
        color: $basicRed;
        padding-right: 10px;
      }

    }
  }
}