#primary-header {
  background-color: $basicYellow;
  color: white;
  height: 65px;
  position: relative;
  z-index: 50;

  > div {
    width: 960px;
    margin: 0 auto;

    a {
      text-decoration: none;
    }

    #logo {
      position: absolute;
      font-size: 45px;
      top: -5px;
      font-family: 'Shadows Into Light Two', Kelson, Helvetica, Arial;
    }

    #primary-nav {
      display: inline-block;
      float: right;
      font-size: 25px;
      line-height: 65px;

      a {
        display: inline-block;
        padding-right: 5px;
        padding-left: 7px;
        margin-right: 15px;
        margin-bottom: 0;
        line-height: 65px;
        transition: background-color 1s;

        &:hover {
          background-color: $lighterYellow;
          transition: background-color 1s;
        }
      }
    }
  }
}