#user-profile {
  position: relative;
  min-height: 700px;
  color: #4A4949;

  > div {
  width: 960px;
  margin: 0 auto;

    .section-name {
      text-align: center;
      margin-bottom: 10px;
    }
  }
  
  #user-info {
    float: left;
    margin: 0 5px 0 5px;
  }

  #profile-info {
    width: 500px;

    .profile-label {
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 5px;
    }

    .profile-value {
      margin-top: 0;
    }

    #edit-btn {
    font-family: 'Open Sans', Helvetica, Arial;
    height: 40px;
    margin-top: 5px;
    font-size: 20px;
    width: 150px;
    color: white;
    border-radius: 4px;
    border: none;
    background-color: $basicRed;
    text-align: center;
    padding-top: 5px;
    text-decoration: none;
    display: block;
    transition: background-color .4s;

      &:hover {
        background-color: $darkerRed;
        transition: background-color .4s;
        cursor: pointer;
      }
    }
  }

  #user-resources {
    float: left;
    width: 450px;

    .resource-info {
      background-color: #FCFCFD;
      border: 1px #C0CCDC solid;
      border-radius: 5px;
      width: 450px;
      margin-top: 10px;
      padding-left: 15px;
      box-shadow: 0 0 10px -5px #000;

      h4 {
        margin-bottom: 10px;

        a {
          text-decoration: none;

          &:hover {
            color: $basicBlue;
          }
        }
      }

      .delete-icon {
        color: $basicRed;
        margin-left: 415px;

        &:hover {
          color: $darkerRed;
          transition: color .4s;
          cursor: pointer;
        }
      }
    }
  }
}